@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #6f6f6f;
  }
}

body {
  background: var(--foreground); /*change bg*/
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body {
    background: url('../assets/fish_p.png');
    background-size: 50%;
    background-blend-mode: multiply;
}

.menu-button {
    color: #1034A6;
    font-weight: 900;
}
.menu-button, .upload {
    cursor: pointer;
}
.logout {
    color: #E52B50;
}
.sidebar {
    color:  #d6f0f6;/* #005662;*/
    font-weight: 600;
    background:  url('../assets/fish_p.png');/*#1ca9c9;*/
    background-size: contain;
}
.side-link, .logout {
    background: #34495e;
    text-align: center;
}
.side-link:hover, .logout:hover {
    background: #dcf2f7;
    color:#34495e;
}
.logout:hover {
    color: red;
}
flex {
    flex-direction: column;
}
.home-link
{
    color: red;
    margin: 2rem;
}

.modal {
    background:  url('../assets/fish_p.png');
}
.content {
    border-radius: 1rem;
    background: none;
}
.content-form, .text-center>p {
    background: white;
    opacity: 90%;
    border-radius: 1rem;

}
.no-record {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.text-bg {
    display: inline-flex;
    color: #d6f0f6;
    opacity: 90%;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.dark-green {
    background:#34495e;
    color: white;
}

.list-inside > li {
    text-align: left;
}
.center-txt, .center-txt-button {
    display: flex;
    margin-bottom: 1rem;
}
.center-txt {
    background: #34495e;
    border-radius: .5rem;
}
.center-txt-button {
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.dashboard-txt {
    text-align: center;
}
hr {
    border: none;
    border-top: .1rem solid white;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content-form {
    background: white;
}
.text-center>p {
    padding: .7rem;
    opacity: 70%;
}
.farm-name {
    display: flex;
    border-radius: 1rem;
    background:none;
    padding: .2rem;
    justify-content: center;
}
.top-margin {
    margin-top: 3rem;
}
.farm-name>span{
    font-size: 2rem;
    color: #d6f0f6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    font-weight: 800;
}
.chart {
    border-radius: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    background:   #A4DDED;
}
.report {
    margin-bottom: 2rem;
    display: inline-flex;
}
.report > select {
    text-align:center;
}
.ponds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ponds >h1{
    margin-bottom: 2rem;
}
.cause {
    width: 25%;
}

.entry, .date {
    display: inline-block;
}
.mortality {
    display: flex;
    gap: .5rem;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 448px) {
    body {
	background: url('../assets/fish_p.png');
        background-size: cover;
    }
    .mortality {
	align-items: flex-start;
	flex-direction: column;
    }
    .mortality-desc {
	margin-left: 50%;
	margin-right: 50%;
    }
    .sidebar > ul {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
    }
}
